@using RolForServer.Models

<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>@Html.Raw(ViewBag.Parent.Title)</title>
	<link href="/Content/CSS/layout.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/style.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/toolbar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/user-info.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/menu.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/sidebar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/login-widget.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/content/containers.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/footer.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/fonts.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/to-top-button.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="toolbar">
		<div class="toolbar-item toolbar-tool-left popup-parent menu">
			<div class="cyan-link">Инструменты</div>
			<div class="popup">
				<ul>
					<li>
						<a href="" class="cyan-link">Первый пункт меню</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай два</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай три</a>
					</li>
				</ul>
			</div>
		</div>

		@Html.Partial("Toolbar/_UserInfo")
	</div>

	<div id="wrapper">
		@Html.Partial("Sidebar/_Sidebar")

		<div id="primary">
			<div id="content">
				<div id="containers">
					<h1 id="entry-title">@Html.Raw(ViewBag.Parent.Title)</h1>
					@Html.Partial("Content/_ContainerBreadcrumb", (Container) ViewBag.Parent)
					<div id="containers-list">
						@foreach (Container con in ViewBag.Children) {
							<div class="container">
								<a href="@Url.Action("Container", "Home", new {containerId = con.Id})">
									<img src="/Content/Images/Containers/@Html.Raw(con.ImageName)"
										class="container-preview-image" alt="container_preview">
								</a>
								<div class="container-about">
									<div class="container-title">
										<a href="@Url.Action("Container", "Home", new {containerId = con.Id})" class="blue-link">
											@Html.Raw(con.Title)
										</a>
									</div>
									<div class="container-description">
										@Html.Raw(con.Description)
									</div>
									<div class="container-meta">
										<div class="container-author">
											Создатель:<br>
											<a href="" class="blue-link">
												@Html.Raw(RolForContext.Users.Find(con.AuthorId)?.Login)
											</a>
										</div>
										<div class="container-freshness">
											Свежесть:<br>
											<a href="" class="blue-link">
												@{
													List<Container> cons = new List<Container>();
													List<Message> mess = new List<Message>();
													cons.Add(con);

													while (cons.Count != 0) {
														var par = cons[0];
														cons.RemoveAt(0);

														var children = RolForContext.Containers.Where(c => c.ParentId == par.Id);
														if (!children.Any()) {
															var mess2 = RolForContext.Messages.Where(m => m.ContainerId == par.Id);
															if (mess2.Any()) {
																mess.Add(mess2.OrderBy(m => m.Date).First());
															}
														}
														else {
															cons.AddRange(children);
														}
													}
													var maxDate = mess.Max(m => m.Date);
													@Html.Raw(maxDate.ToString(DateFormat.DateFormatString))
												}
											</a>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>

		@Html.Partial("Footer/_Footer")
	</div>
	<a id="to-top-button" title="Наверх">↑</a>
	<script src="/Scripts/toTopButton.js"></script>
</body>
</html>