@using RolForServer.Models

<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>@Html.Raw(ViewBag.Parent.Title)</title>
	<link href="/Content/CSS/layout.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/style.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/toolbar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/user-info-tool.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/menu.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/sidebar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/login-widget.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/content/containers.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/footer.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/fonts.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/to-top-button.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/user-info.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="toolbar">
		<div class="toolbar-tool toolbar-tool-left popup-parent menu">
			<div class="cyan-link">Инструменты</div>
			<div class="popup">
				<ul>
					<li>
						<a href="" class="cyan-link">Первый пункт меню</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай два</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай три</a>
					</li>
				</ul>
			</div>
		</div>

		@Html.Partial("Toolbar/_UserInfo")
	</div>

	<div id="wrapper">
		@Html.Partial("Sidebar/_Sidebar")

		<div id="primary">
			<div id="content">
				<div id="containers">
					<h1 id="entry-title">@Html.Raw(ViewBag.Parent.Title)</h1>
					@Html.Partial("Content/_ContainerBreadcrumb", (Container) ViewBag.Parent)
					<div id="containers-list">
						@foreach (Container con in ViewBag.Children) {
							<div class="container">
								<a href="@Url.Action("Container", "Home", new {containerId = con.Id})">
									<img src="/Content/Images/Containers/@Html.Raw(con.ImageName)"
										class="container-preview-image" alt="container_preview">
								</a>
								<div class="container-about">
									<div class="container-title">
										<a href="@Url.Action("Container", "Home", new {containerId = con.Id})" class="blue-link">
											@Html.Raw(con.Title)
										</a>
									</div>
									<div class="container-description">
										@Html.Raw(con.Description)
									</div>
									<div class="container-meta">
										<div class="container-author">
											Создатель:<br>
											<a href="" class="blue-link">
												@Html.Raw(RolForContext.Users.Find(con.AuthorId)?.Name)
											</a>
										</div>
										<div class="container-freshness">
											Свежесть:<br>
											<a href="" class="blue-link">
												@{
													DateTime? maxDate1 = RolForContext.Database.SqlQuery<DateTime?>(
														"with recursive leaves (Id, ParentId) as (" +
														"	select c1.\"Id\", c1.\"ParentId\"" +
														"	from \"Containers\" c1 where c1.\"Id\" = @p0" +
														"	union" +
														"	select c2.\"Id\", c2.\"ParentId\"" +
														"	from \"Containers\" c2 inner join leaves on (leaves.Id = c2.\"ParentId\"))" +
														"select max(\"Date\") from \"Messages\"" +
														"where \"ContainerId\" in (select Id from leaves)",
														con.Id).Single();
													
													if (maxDate1 != null) {
														DateTime dt = (DateTime) maxDate1;
														@Html.Raw(dt.ToString(DateFormat.DateFormatString))
													}
												}
											</a>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>

		@Html.Partial("Footer/_Footer")
	</div>
	<a id="to-top-button" title="Наверх">↑</a>
	<script src="/Scripts/toTopButton.js"></script>
</body>
</html>