@using RolForServer.Views.Home
@model RolForServer.Models.Messages

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewBag.Forum.Title</title>
    <link href="~/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/toolbar/toolbar.css" rel="stylesheet" type="text/css">
    <link href="~/css/toolbar/user-info.css" rel="stylesheet" type="text/css">
    <link href="~/css/toolbar/menu.css" rel="stylesheet" type="text/css">
    <link href="~/css/sidebar/sidebar.css" rel="stylesheet" type="text/css">
    <link href="~/css/content/forum.css" rel="stylesheet" type="text/css">
    <link href="~/css/footer.css" rel="stylesheet" type="text/css">
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="toolbar">
    <div class="toolbar-item toolbar-tool-left popup-parent menu">
        <div class="cyan-link">Инструменты</div>
        <div class="popup">
            <ul>
                <li>
                    <a href="" class="cyan-link">Первый пункт меню</a>
                </li>
                <li>
                    <a href="" class="cyan-link">Делай два</a>
                </li>
                <li>
                    <a href="" class="cyan-link">Делай три</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="toolbar-item toolbar-tool-right popup-parent user-info">
        <a href="" class="cyan-link">
            Аллар Кнебергиш
            <img src="~/images/avatars/Imperial_Fists_150x150.gif" class="user-info-min-avatar" alt="user-info-min-avatar">
        </a>
        <div class="popup user-info-popup">
            <img src="~/images/avatars/Imperial_Fists_150x150.gif" class="user-info-avatar" alt="user-info-avatar">
            <ul>
                <li>
                    <a href="" class="cyan-link user-name">Аллар Кнебергиш</a>
                </li>
                <li>
                    <span class="user-role">Администратор</span>
                </li>
                <li>
                    <a href="" class="cyan-link">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="secondary">
        <div id="sidebar">
            <div id="site-header">
                <div id="site-header-title">
                    <a href="@Url.Action("Index", "Home")" class="gray-link">RolFor</a>
                </div>
                <div id="site-header-description">
                    Лучший игровой форум!
                </div>
            </div>
            <hr>
            <div class="menu-item">
                <a href="@Url.Action("Forums", "Home")" class="gray-link">Форумы</a>
            </div>
            <hr>
            <div class="menu-item">
                <a href="@Url.Action("Forum", "Home", new {id = 0})" class="gray-link">Какой-то форум</a>
            </div>
            <hr>
            <div class="menu-item">
                <a href="" class="gray-link">Пункт 3</a>
            </div>
            <hr>
            <div class="menu-item">
                <a href="" class="gray-link">Пункт с очень длинным текстом</a>
            </div>
            <hr>
        </div>
    </div>
    <div id="primary">
        <div id="content">
            <h1 id="entry-title">@ViewBag.Forum.Title</h1>
            <div id="breadcrumb">
                <a href="@Url.Action("Forums", "Home")" class="breadcrumb-item blue-link">
                    Форумы
                </a>
                <span class="breadcrumb-item">›</span>
                <span class="breadcrumb-item">
                    <a href="@Url.Action("Forum", "Home", new {id = ViewBag.Forum.Id})" class="breadcrumb-item blue-link">
                        @ViewBag.Forum.Title
                    </a>
                </span>
            </div>
            <div id="messages">
                @using (HtmlHelperFormExtensions.BeginForm(Html)) {
                    foreach (var message in ViewBag.Messages) {
                        <div class="message">
                            <div class="message-header">
                                @Html.Raw(message.Date.Date) в @Html.Raw(message.Date.Hour):@Html.Raw(message.Date.Minute)
                            </div>
                            <div class="message-body">
                                <div class="message-user-info">
                                    <a href="" class="message-user-name blue-link">@Html.Raw(Repo.Users[message.UserId].Name)</a>
                                    <img src="~/images/avatars/@Html.Raw(Repo.Users[message.UserId].AvatarImageName)"
                                         alt="avatar-image"
                                         class="user-avatar">
                                    <details class="user-description">
                                        <summary>Описание</summary>
                                        <div class="test">
                                            @Html.Raw(Repo.Users[message.UserId].Description)
                                        </div>
                                    </details>
                                </div>
                                <div class="message-content">
                                    @Html.Raw(message.Text)
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div id="pagination">
                <a href="" class="pagination-item page-number blue-link">1</a>
                <span class="pagination-item">…</span>
                <a href="" class="pagination-item page-number blue-link">13</a>
                <span class="pagination-item page-number-current">14</span>
            </div>
        </div>
    </div>
    <div id="sidebar_back"></div>
    <div id="content_back"></div>
    <div id="clear"></div>
    <div id="footer">
        <p>Сайт написан с помощью рук и без мошенничества.</p>
        <p>Почта администратора сайта: какая_то@поч.та</p>
    </div>
</div>
</body>
</html>