@model object

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Форумы</title>
    <link href="~/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/toolbar.css" rel="stylesheet" type="text/css">
    <link href="~/css/user-info.css" rel="stylesheet" type="text/css">
    <link href="~/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="~/css/forums-list.css" rel="stylesheet" type="text/css">
    <link href="~/css/footer.css" rel="stylesheet" type="text/css">
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="toolbar">
    <div class="toolbar-item toolbar-tool-left popup-parent menu">
        <div class="cyan-link">Инструменты</div>
        <div class="popup">
            <ul>
                <li>
                    <a href="" class="cyan-link">Первый пункт меню</a>
                </li>
                <li>
                    <a href="" class="cyan-link">Делай два</a>
                </li>
                <li>
                    <a href="" class="cyan-link">Делай три</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="toolbar-item toolbar-tool-right popup-parent user-info">
        <a href="" class="cyan-link">
            Аллар Кнебергиш
            <img src="~/images/Imperial_Fists_150x150.gif" class="user-info-min-avatar" alt="user-info-min-avatar">
        </a>
        <div class="popup user-info-popup">
            <img src="~/images/Imperial_Fists_150x150.gif" class="user-info-avatar" alt="user-info-avatar">
            <ul>
                <li>
                    <a href="" class="cyan-link user-name">Аллар Кнебергиш</a>
                </li>
                <li>
                    <span class="user-role">Администратор</span>
                </li>
                <li>
                    <a href="" class="cyan-link">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="secondary">
        <div id="sidebar">
            <div id="site-header">
                <div id="site-header-title">
                    @HtmlHelperLinkExtensions.ActionLink(Html, "RolFor", "Index", new object(),
                        new {@class = "gray-link"})
                </div>
                <div id="site-header-description">
                    Лучший игровой форум!
                </div>
            </div>
            <hr>
            <div class="menu-item">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Форумы", "Forums", new object(),
                    new {@class = "gray-link"})
            </div>
            <hr>
            <div class="menu-item">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Какой-то форум", "Forum", new object(),
                    new {@class = "gray-link"})
            </div>
            <hr>
            <div class="menu-item">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Пункт 3", "Index", new object(),
                    new {@class = "gray-link"})
            </div>
            <hr>
            <div class="menu-item">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Пункт с очень длинным текстом", "Index", new object(),
                    new {@class = "gray-link"})
            </div>
            <hr>
        </div>
    </div>
    <div id="primary">
        <div id="content">
            <h1 id="entry-title">Форумы</h1>
            <div id="breadcrumb">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Главная", "Index", new object(),
                    new {@class = "breadcrumb-item blue-link"})
                <span class="breadcrumb-item">›</span>
                <span class="breadcrumb-item">Форумы</span>
            </div>
            <div id="forums-list">
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Форум с очень длинным названием, длиннее которого только список незаконченных ролёвок
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Маленький форум
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Форум, который умрёт первым
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Форум на всякий случай
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar_back"></div>
    <div id="content_back"></div>
    <div id="clear"></div>
    <div id="footer">
        <p>Сайт написан с помощью рук и без мошенничества.</p>
        <p>Почта администратора сайта: какая_то@поч.та</p>
    </div>
</div>
</body>
</html>