@using RolForServer.Models

<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Форумы</title>
	<link href="/Content/CSS/layout.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/style.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/toolbar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/user-info.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/menu.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/sidebar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/login-widget.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/content/forums-list.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/footer.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/fonts.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/to-top-button.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="toolbar">
		<div class="toolbar-item toolbar-tool-left popup-parent menu">
			<div class="cyan-link">Инструменты</div>
			<div class="popup">
				<ul>
					<li>
						<a href="" class="cyan-link">Первый пункт меню</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай два</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай три</a>
					</li>
				</ul>
			</div>
		</div>

		@Html.Partial("Toolbar/_UserInfo")
	</div>

	<div id="wrapper">
		@Html.Partial("Sidebar/_Sidebar")

		<div id="primary">
			<div id="content">
				<div id="forums">
					<h1 id="entry-title">Форумы</h1>
					<div id="breadcrumb">
						<a href="@Url.Action("Forums", "Home")" class="breadcrumb-item blue-link">
							Форумы
						</a>
						<span class="breadcrumb-item">›</span>
					</div>
					<div id="forums-list">
						@foreach (Forum forum in ViewBag.Forums) {
							<div class="forum">
								<a href="@Url.Action("Forum", "Home", new {id = forum.Id})">
									<img src="/Content/Images/Forums/@Html.Raw(forum.ImageName)"
										class="forum-preview-image" alt="forum_preview">
								</a>
								<div class="forum-about">
									<a href="@Url.Action("Forum", "Home", new {id = forum.Id})" class="forum-title blue-link">
										@Html.Raw(forum.Title)
									</a>
									<div class="forum-author">
										Создатель:<br>
										<a href="" class="blue-link">
											@Html.Raw(RolForContext.Users.Find(forum.AuthorId)?.Login)
										</a>
									</div>
									<div class="forum-freshness">
										Свежесть:<br>
										<a href="" class="blue-link">
											@{
												var dateTime = RolForContext.Messages.Where(message => message.ForumId == forum.Id).Select(input => input.Date).Max();
												@Html.Raw(dateTime.ToString(DateFormat.DateFormatString))
											}
										</a>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>

		@Html.Partial("Footer/_Footer")
	</div>
	<a id="to-top-button" title="Наверх">↑</a>
	<script src="/Scripts/toTopButton.js"></script>
</body>
</html>