@using RolForServer.Models

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Главная</title>
	<link href="/Content/CSS/layout.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/style.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/toolbar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/user-info.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/menu.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/sidebar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/login-widget.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/content/newsletter.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/footer.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/fonts.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/to-top-button.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/user-info.css" rel="stylesheet" type="text/css">

	<link href="/favicon.ico" rel="shortcut icon" runat="server" type="image/ico"/>
</head>
<body>
	<div id="toolbar">
		@Html.Partial("Toolbar/_UserInfo")
	</div>

	<div id="wrapper">
		@Html.Partial("Sidebar/_Sidebar")

		<div id="primary">
			<div id="content">
				<div id="newsletter">
					@foreach (News news in ViewBag.News) {
						<article class="news">
							<div class="news-header">
								<div class="news-title">
									@Html.Raw(news.Title)
								</div>
								<div class="news-meta">
									@Html.Raw(news.Date.ToString(DateFormat.DateFormatString + " " + DateFormat.TimeFormatString))
									@Html.Raw(" ")
									@Html.Raw(RolForContext.Users.Find(news.AuthorId)?.Name)
								</div>
							</div>
							<div class="news-content">
								@Html.Raw(news.Text)
							</div>
						</article>
					}
				</div>
			</div>
		</div>

		@Html.Partial("Footer/_Footer")
	</div>
	<a id="to-top-button" title="Наверх">↑</a>
	<script src="/Scripts/toTopButton.js"></script>
	<script src="/Scripts/common.js"></script>
</body>
</html>