@using RolForServer.Models

<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>@ViewBag.Container.Title</title>
	<link href="/Content/CSS/layout.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/style.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/toolbar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/user-info.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/menu.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/sidebar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/login-widget.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/content/messages.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/content/wedro.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/footer.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/fonts.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/to-top-button.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="toolbar">
		<div class="toolbar-item toolbar-tool-left popup-parent menu">
			<div class="cyan-link">Инструменты</div>
			<div class="popup">
				<ul>
					<li>
						<a href="" class="cyan-link">Первый пункт меню</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай два</a>
					</li>
					<li>
						<a href="" class="cyan-link">Делай три</a>
					</li>
				</ul>
			</div>
		</div>
		
		@Html.Partial("Toolbar/_UserInfo")
	</div>

	<div id="wrapper">
		@Html.Partial("Sidebar/_Sidebar")
		
		<div id="primary">
			<div id="content">
				<div id="container">
					<h1 id="entry-title">@ViewBag.Container.Title</h1>
					@Html.Partial("Content/_ContainerBreadcrumb", (Container) ViewBag.Container)
					<div id="messages">
						@foreach (Message message in ViewBag.Messages) {
							@Html.Partial("Content/_Message", message)
						}
					</div>
					<div id="pagination">
						<div id="pagination-items">
							<a href="" class="pagination-item page-number blue-link">1</a>
							<span class="pagination-item">…</span>
							<a href="" class="pagination-item page-number blue-link">13</a>
							<span class="pagination-item page-number-current">14</span>
						</div>
					</div>
					<div id="pagination-end"></div>
					<div id="answer-area">
						<p id="answer-area-title">Быстрый ответ:</p>
						<div id="wedro">
							<div id="tabs-switcher">
								<div id="visual-tab-indicator" class="selected-tab-indicator selected">Visual</div>
								<div id="html-tab-indicator" class="selected-tab-indicator">HTML</div>
							</div>
							<div id="functions-wrapper">
								<div id="bold-function-button" class="function-button">B</div>
								<div id="italic-function-button" class="function-button">I</div>
								<div id="underline-function-button" class="function-button">U</div>
							</div>
							<div class="clear"></div>

							<div id="tabs-wrapper">
								<div contentEditable="true" id="visual-tab" class="tab"></div>
								<div contentEditable="true" id="html-tab" class="tab" hidden=""></div>
							</div>
						</div>
						<div id="submit-wrapper">
							<button type="button" id="submit-button">Отправить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		@Html.Partial("Footer/_Footer")
	</div>
	<a id="to-top-button" title="Наверх">↑</a>
	<script src="/Scripts/common.js"></script>
	<script src="/Scripts/toTopButton.js"></script>
	<script src="/Scripts/spoiler.js"></script>
	<script src="/Scripts/wedro.js"></script>
</body>
</html>